.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}
#about h1 {
  text-align: center;
  margin-bottom: 1em;
}
.about__me {
  margin: auto;
  /* margin-right: 4rem; */
  /* width: 50%; */
  height: 85%;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: centre;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me-image:hover {
  transform: rotate(0);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 1rem;
  height: 52%;
}

.about__card {
  height: 87%;
  background: var(--color-bg-variant);
  border: 3px solid transparent;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}
/* .about__content {
  margin-right: 1000rem;
} */

.about__content p {
  font-weight: 200;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* margin-bottom: 2rem; */
  margin: 0 3rem 2rem 0;
  color: var(--color-light);
}

/*====================== Media query(medium devices) =====================*/
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

/*====================== Media query(small devices) =====================*/
@media screen and (max-width: 600px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    margin: 1rem auto 5rem;
  }

  .about__cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .about__card {
    padding: 2rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem;
  }
}
